@import "nib"
@import "jeet"

.admin-login-route
  display flex
  margin 0 auto
  flex-grow 1
  cf()

  .admin-login-modal
    align-self center

  .input
    float left
    margin-right 1rem

  .disclaimers
    margin 4rem 1rem
    color #777
