@import "nib"

.admin-users-route
  display flex
  flex-flow row wrap
  width 100%
  align-content flex-start
  align-self flex-start
  flex-grow 1
  padding-top 6rem

  h2
    width 100%

  nav
    padding 0 1rem
    margin 0.5rem 0
    width 100%

    a
      text-decoration none
      font-size 2rem
