@import "nib"
@import "jeet"

.admin-users-edit-route
  display flex
  flex-flow row wrap
  width 100%

  h2
    width 100%

  .form-col
    padding 0 4rem

    & + .form-col
      border-left 1px dashed #ccc

  .form
    width 50%

  .roles, .active-sessions
    width 25%

  .form-row
    display flex
    width 100%
    margin-bottom 40px
    cf()

    .input
      width 100% * (1/3)

      & + .input
        margin-left 1rem

    .text-area
      width 100%

      textarea
        height 12rem

  .form-row:last-child
    justify-content flex-end
