@import "nib"
@import "jeet"

.admin-users-edit-route
  display flex
  flex-flow row wrap
  width 100%

  .form
    display flex
    flex-flow row wrap

  h2
    width 100%

  .form-col
    box-sizing border-box
    padding 0 4rem
    position relative

    & + .form-col
      border-left 1px solid #f7f7f7

  .user-info
    width 50%

  .roles
    width 25%

  .active-sessions
    width 25%



  .input
    width 100% * (1/3)

    & + .input
      margin-left 1rem

  .text-area
    width 100%

    textarea
      height 12rem

.session-list
  display flex
  flex-flow row wrap
  width 100%
  font-size 1.414rem

  dt, dd
    width 100%
    padding 0
    margin 0
    font-weight 300

  label
    font-weight 400
    tex-transform uppercase
    background-color #777
    border-color #000
    color #fff
    padding 0.5rem
    font-size 1rem

  p
    text-indent 1rem

