.input
  position relative

  .underline
    position absolute
    bottom 0
    left 0
    width 0
    height 1px
    background-color black
    transition width 400ms ease

  input
    padding 1rem
    width 100%
    border none
    border-bottom 1px solid #ccc
    font-size 1.414rem
    font-weight 300

    &:focus
      outline none

      & + .underline
        width 100%
