@import "nib"

body
  font-weight 400
  line-height 1.45
  color #333
  font-family Lato, sans-serif

p
  margin-bottom 2.08em

h1, h2, h3, h4
  margin 2.2624em 0 0.8em
  font-weight inherit
  line-height 1.2

h1, h2
  margin-top 0

h1
  font-size 6.3968em

  small
    font-weight 100
    color #777

h2
  font-size 4.5232em
  font-weight 100
  padding 0 1rem

h3
  font-size 3.1984em

h4
  font-size 2.2624em

small, .font_small
  font-size 0.707em

