@import "nib"
@import "jeet"
@import "rupture"

.admin-roles-show-route
  display flex
  flex-flow row wrap
  width 100%

  .role-list
    display flex
    flex-flow row wrap
    padding 0
    margin 0
    width 100%
    list-style none
    font-size 1.414rem
    font-weight 300

    lh
      font-weight 400

    a
      text-decoration none

    .id
      width 10%

    .name
      width 70%

    .actions
      width 20%

