@import "nib"
@import "jeet"

.admin-route
  display flex
  flex-flow column wrap
  min-width 100%
  align-items flex-start
  align-content flex-start
  padding-top 6rem

  .header
    position absolute
    top 0
    left 0
    width 100%
    padding 4rem
    cf()

    h1
      float left

    nav
      float left
      margin-right 1rem
      cf()

      li
        float left

        & + li
          margin-left 1rem
