@import "nib"
@import "jeet"

.admin-route
  display flex
  flex-flow column wrap
  align-items flex-start
  align-content flex-start
  width 100%

  .header
    display flex
    flex-flow row wrap
    width 100%
    align-items flex-end
    margin-bottom 4rem

    h1
      margin 0
      padding 0
      line-height 1
      margin-right 1rem

    .admin-controls
      display flex
      flex-flow row wrap
      flex-grow 1
      align-items flex-end

      p
        margin 0
        padding 0 0.5rem
        font-weight 300
        font-size 1.414rem
        width 100%

      nav
        flex-grow 1

        ul
          display flex
          flex-flow row wrap
          align-items flex-end
          margin 0
          padding 0
          list-style none

          li
            & + li
              margin-left 0.5rem

            &:last-child
              margin-left auto

            a
              text-decoration none
              font-size 1.414rem
              font-weight 300
              padding 0.25rem 0.5rem

              &.active
                font-weight 400
                background-color #000
                color #fff
