@import "nib"
@import "jeet"
@import "rupture"

.admin-roles-edit-route
  display flex
  flex-flow row wrap
  width 100%

  .form
    display flex
    flex-flow row wrap
    justify-content space-between
    width 100%

    .input
      width 100%

    .form-col
      width 100% * (1/2.05)

    .form-row
      width 100%

    .repeater-row
      width 100%
      display flex
      flex-flow row wrap
      align-items flex-start
      justify-content space-between

    h2, h3
      width 100%

  .permissions
    display flex
    flex-flow row wrap
    align-items flex-start
    justify-content space-between

    .controller
      width 55%

    .crud-toggles
      width 40%

      .toggle
        font-size 1rem
