@import "nib"
@import "jeet"
@import "rupture"

normalize-css()
@import "~font-awesome/css/font-awesome.css"
@import "../common/base"
@import "../common/typography"

.app
  min-height 100%
  padding 4rem
  display flex
  flex-flow row wrap
